@using Microsoft.AspNetCore.Identity
@using TrainingManagement.Constants;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    foreach (var item in ViewBag.Roles)
    {
        if (item == Constant.RolesFilter.Manager || item == Constant.RolesFilter.Adviser)
        {
                <div>
            <img src="~/assets/images/avatars/300-1.jpeg" alt="..." class="rounded-circle left" width="45px">
                <a href="@Constant.Links.ProgileHomeIndex">
                <h6 class="right pr-2 " style="color: #fff; ">@ViewBag.Name</h6>
            </a>
        </div>

        <div class="userlogin ml-5"></div>
        <div class="userlogin ml-5"></div>
        }
        else if (item == Constant.RolesFilter.Trainee )
        {
                   <div>
                <img src="~/assets/images/avatars/300-1.jpeg" alt="..." class="rounded-circle left" width="45px">
                <a href="@Constant.Links.ProgileHomeIndex">
                <h6 class="right pr-2 " style="color: #fff; ">@ViewBag.FullName</h6>
            </a>
        </div>

        <div class="userlogin ml-5"></div>
        <div class="userlogin ml-5"></div>
        }
        else if (item == Constant.RolesFilter.SuperAdmin)
        {
            <div>
                <img src="~/assets/images/avatars/300-1.jpeg" alt="..." class="rounded-circle left" width="45px">
                <a href="@Constant.Links.ProgileHomeIndex">
                    <h6 class="right pr-2 " style="color: #fff; ">@ViewBag.UserName</h6>
                </a>
            </div>

            <div class="userlogin ml-5"></div>
            <div class="userlogin ml-5"></div>
        }
    }

}
else
{
            <div class="header-right">
            <div class="header-action-area">
                <div class="header-action">
                <a asp-area="Identity" asp-page="/Account/Login" class="btn--base">Login</a>
                </div>
            </div>
 
        </div>

}
